body {
  margin: 0;
  min-height: 100vh;
  background-color:#D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  font-color: Purple; 
  overflow:hidden;
}

.container {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  box-shadow:none; /* 0 4px 10px rgba(128, 0, 128, 0.3);*/
  border-radius: 10px;
  width: 80%;
  max-width: 450px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-color:Purple;
  position:fixed;
  overflow:hidden;
}

.heading {
  font-size: 32px;
  font-color: Purple;
}

.temp-container {
  width: 95%;
  padding: 15px;
  font-weight: bold;
  font-color: #301934 ; 
  font-size: 18px;
  overflow:hidden;
}

.input {
  width: 220px;
  font-family: arial;
  padding: 5px;
  float: right;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  color:Purple;
  font-size: 18px;
}


.input::placeholder{
    color: darkgray;
}
